.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.unstyled-list {
    list-style: none;
}

a.link {
    text-decoration: none;
    color: black;
}

a.link:hover {
    color: rebeccapurple;
}